.gradient__bg {
    background: linear-gradient(90deg, rgba(0, 36, 61, 1) 0%, rgba(9, 121, 113, 1) 100%);
}

.sf__navbar_logged_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 60px;
}

.sf__navbar_logged_in-links {
    display: flex;
    align-items: center;
}

.sf__navbar_logged_in-links_logo img {
    width: 40px;
    height: auto;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.sf__navbar_logged_in-links_container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
}

    .sf__navbar_logged_in-links_container p {
        margin: 0;
        display: flex;
        align-items: center;
    }

        .sf__navbar_logged_in-links_container p a {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
            display: flex;
            align-items: center;
        }

.sf__navbar_logged_in-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-left: auto;
}

.sf__navbar_logged_in-language {
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: flex-end;
}

.sf__navbar_logged_in-theme {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: flex-end;
}

.sf__navbar_logged_in-logout-container button {
    background-color: #FF4820;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

    .sf__navbar_logged_in-logout-container button:hover {
        background-color: #FF6140;
    }

/* Botón de usuario */
.sf__navbar_logged_in-user button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Espacio entre el botón de usuario y el botón de logout */
}

    .sf__navbar_logged_in-user button:hover {
        background-color: #0056b3;
    }

/* Ocultar el botón del menú desplegable en pantallas grandes */
.sf__navbar_logged_in-menu {
    display: none; /* Oculto en pantallas grandes por defecto */
}

.sf__navbar_logged_in-menu-icon {
    display: none; /* Oculto en pantallas grandes */
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .sf__navbar_logged_in-menu-icon:hover {
        transform: rotate(90deg);
    }

.sf__navbar_logged_in-menu_container {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #16243e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: scale-up-center 0.4s ease forwards;
    width: 220px;
}

.sf__navbar_logged_in-menu_container-group {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
}

    .sf__navbar_logged_in-menu_container-group p {
        margin: 2px 0;
        font-size: 16px;
        color: white;
    }

        .sf__navbar_logged_in-menu_container-group p a {
            color: inherit;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease;
            padding: 8px 10px;
            display: block;
            border-radius: 8px;
        }

            .sf__navbar_logged_in-menu_container-group p a:hover {
                background-color: rgba(255, 255, 255, 0.2);
                color: #FF4820;
            }

.sf__navbar_logged_in-menu_container-language,
.sf__navbar_logged_in-menu_container-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 10px;
}

.sf__navbar_logged_in-menu-icon {
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    .sf__navbar_logged_in-menu-icon:hover {
        transform: rotate(90deg);
    }


.sf__navbar_logged_in-menu_container-logout button {
    background-color: #FF4820;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .sf__navbar_logged_in-menu_container-logout button:hover {
        background-color: #FF6140;
    }

@keyframes scale-up-center {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .sf__navbar_logged_in-links_container {
        display: none;
    }

    .sf__navbar_logged_in-controls {
        display: none;
    }

    .sf__navbar_logged_in-menu_container {
        display: block;
    }

    /* Mostrar el botón del menú desplegable y el contenedor solo en pantallas pequeñas */
    .sf__navbar_logged_in-menu,
    .sf__navbar_logged_in-menu-icon {
        display: flex !important;
    }
}
