.notification-create {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 50px;
}

.notification-create-title {
    animation: shine 5s linear infinite;
    background: linear-gradient(90deg, rgba(3, 53, 78, 1) 0%, rgba(130, 214, 238, 1) 50%, rgba(3, 53, 78, 1) 100%);
    color: transparent;
    font-size: 24px;
    overflow-wrap: break-word;
    width: max-content;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
}

.subject-form {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    row-gap: 30px;
}

.subject-form div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.subject-form label {
    color: var(--black);
    font-size: 18px;
}

.subject-form input {
    border-radius: 100px;
    border: 1px solid var(--black);
    font-size: 16px;
    padding: 6px 8px;
}

.subject-form button {
    background: var(--black);
    border-radius: 100px;
    border: 1px solid var(--white);
    border: none;
    color: var(--white);
    font-size: 16px;
    grid-column: span 2;
    margin: 0 auto;
    padding: 6px 8px;
    width: max-content;
    box-shadow: 0px 4px 10px var(--shadow);
}

.subject-form button:hover {
    background: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
}

@media screen and (max-width: 577px) {
    .subject-form {
        grid-template-columns: 1fr;
    }

    .subject-form button { 
        grid-column: span 1;
    }
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  