/* Estilos generales para el Popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilos de contenido del Popup con borde */
.popup-content {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid; /* Agrega el borde de color aquí */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    position: relative;
}

/* Tema claro */
.popup-overlay.light {
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-content.light {
    background-color: #fff;
    color: #333;
    border-color: #007bff; /* Color de borde específico para tema claro */
}

/* Tema oscuro */
.popup-overlay.dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-content.dark {
    background-color: #333;
    color: #fff;
    border-color: #007bff; /* Color de borde específico para tema oscuro */
}

.popup-close-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .popup-close-button:hover {
        background-color: #0056b3;
    }

/* Ajuste adicional para el botón en el tema oscuro */
.popup-content.dark .popup-close-button {
    background-color: #0056b3;
}

    .popup-content.dark .popup-close-button:hover {
        background-color: #044285;
    }