.classworkBox_Create_box {
    padding: 20px;
    background-color: var(--color-background);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px; /* Set the maximum width similar to the 'announces' component */
    box-sizing: border-box;
}

.classworkBox_Create_title-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

.classworkBox_Create_editor {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: var(--color-editor-background);
}

.classworkBox_Create_controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.classworkBox_Create_type-selector {
    margin-top: 15px;
}

.classworkBox_Create_select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
}

.classworkBox_Create_control-button {
    padding: 10px;
    background-color: var(--color-button-background);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .classworkBox_Create_control-button:hover {
        background-color: var(--color-button-hover);
    }

.classworkBox_Create_footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.classworkBox_Create_footer-button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

    .classworkBox_Create_footer-button[class*='cancel'] {
        background-color: var(--color-cancel-button);
    }

    .classworkBox_Create_footer-button[class*='publish'] {
        background-color: var(--color-publish-button);
    }

    .classworkBox_Create_footer-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

.classworkBox_Create_create-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

    .classworkBox_Create_create-container:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

.classworkBox_Create_create-text {
    font-size: 16px;
    color: #666;
    flex-grow: 1;
}

.classworkBox_Create_box.light {
    background-color: var(--color-background-light);
    color: var(--color-light-text-1);
}

    .classworkBox_Create_box.light .classworkBox_Create_main {
        background-color: var(--color-light-container-1);
        color: var(--color_text-dark);
    }

.classworkBox_Create_box.dark {
    background-color: var(--color-background-dark);
    color: var(--color-dark-text-1);
}

    .classworkBox_Create_box.dark .classworkBox_Create_main {
        background-color: var(--color-dark-container-1);
        color: var(--color_text-light);
    }
