.course-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 20px;
    padding-right: 40px;
}

.course-header {
    background-color: #4a90e2;
    padding-left: 20px;
    padding-right: 40px;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid #4a90e2;
}

.course-layout {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.course-sidebar {
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    border: 2px solid #ddd;
}

    .course-sidebar h3 {
        font-size: 16px;
    }

    .course-sidebar a {
        color: #4a90e2;
        text-decoration: none;
    }

        .course-sidebar a:hover {
            text-decoration: underline;
        }

.course-main {
    flex-grow: 1;
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}



.course-page.light {
    background-color: var(--color-background-light);
    color: var(--color-light-text-1);
}

    .course-page.light .course-main,
    .course-page.light .course-sidebar {
        background-color: var(--color-light-container-1);
        color: var(--color_text-dark);
    }

    .course-page.light .announcement-create-container {
        background-color: #e0f7fa;
    }

        .course-page.light .announcement-create-container:hover {
            background-color: #b2ebf2;
        }

.course-page.dark {
    background-color: var(--color-background-dark);
    color: var(--color-dark-text-1);
}

    .course-page.dark .course-main,
    .course-page.dark .course-sidebar {
        background-color: var(--color-dark-container-1);
        color: var(--color_text-light);
        border: 1px solid white;
    }

    .course-page.dark .announcement-create-container {
        background-color: #333;
        color: #fff;
    }

        .course-page.dark .announcement-create-container:hover {
            background-color: #444;
        }
