.sf__navbar {
    align-items: center;
    background: linear-gradient(127deg, rgba(75, 75, 75, 1) 0%, rgba(0, 116, 141, 1) 31%, rgba(0, 210, 255, 1) 100%);
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 16px;
    position: sticky;
    right: 0;
    top: 0;
    width: 100%;
}

.sf__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sf__navbar-links_logo {
    margin-right: 2rem;
}

    .sf__navbar-links_logo img {
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }

.sf__navbar-links_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sf__navbar-sign-container {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    margin-left: 10px;
    transition: background-color 0.3s ease, border 0.3s ease;
    white-space: nowrap;
}

    .sf__navbar-sign-container a,
    .sf__navbar-sign-container button {
        margin: 0;
        color: #fff;
        display: block;
        width: auto;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
        box-sizing: border-box;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        outline: none;
        white-space: nowrap;
    }

    .sf__navbar-sign-container:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid transparent;
    }

    .sf__navbar-sign-container a:hover,
    .sf__navbar-sign-container button:hover {
        color: #FF4820;
        border: none;
    }

.sf__navbar-sign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}

    .sf__navbar-links_container p,
    .sf__navbar-sign p,
    .sf__navbar-menu_container p {
        color: #fff;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        margin: 0 1rem;
        padding: 5px 0;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .sf__navbar-links_container p:hover,
        .sf__navbar-sign-container a:hover,
        .sf__navbar-sign-container button:hover,
        .sf__navbar-menu_container-group p:hover {
            background-color: rgba(255, 255, 255, 0.2);
            color: #FF4820;
            border: none;
        }

    .sf__navbar-sign button,
    .sf__navbar-menu_container button {
        padding: 0.5rem 1rem;
        color: #fff;
        background: #FF4820;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .sf__navbar-sign button:hover {
            background-color: #FF6140;
        }

.sf__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

    .sf__navbar-menu svg {
        cursor: pointer;
    }

.sf__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.sf__navbar-menu_container-group {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

    .sf__navbar-menu_container-group p {
        margin: 0;
        padding: 5px 0;
    }

    .sf__navbar-menu_container-group a,
    .sf__navbar-menu_container-group button {
        display: block;
        width: 100%;
        padding: 5px 8px;
        color: inherit;
        text-decoration: none;
        box-sizing: border-box;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 8px;
    }

        .sf__navbar-menu_container-group a:hover,
        .sf__navbar-menu_container-group button:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: #FF4820;
            border: none;
        }

.sf__navbar-menu_container p {
    margin: 1rem 0;
}

.sf__navbar-menu_container-links-sign {
    display: none;
}

.sf__navbar-language-theme {
    display: flex;
    align-items: center;
    color: white;
}

.sf__navbar-menu_container-links-language {
    margin-top: 10px;
}

.sf__navbar .ui.dropdown {
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.sf__navbar-menu_container-language,
.sf__navbar-menu_container-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1050px) {

    .sf__navbar-language-theme,
    .sf__navbar-sign-container {
        display: none;
    }

    .sf__navbar-links_container {
        display: none;
    }

    .sf__navbar-menu {
        display: flex;
    }

    .sf__navbar-menu_container {
        top: 20px;
        z-index: 1000;
        padding: 0.5rem;
    }

    .sf__navbar-menu_container-links-sign {
        display: block;
    }

    .sf__navbar-menu_container-group {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 5px;
        width: 100%;
        box-sizing: border-box;
    }

        .sf__navbar-menu_container-group a,
        .sf__navbar-menu_container-group button {
            display: block;
            width: 100%;
            padding: 5px 8px;
            color: inherit;
            text-decoration: none;
            box-sizing: border-box;
            transition: background-color 0.3s ease, color 0.3s ease;
            border-radius: 8px;
        }

            .sf__navbar-menu_container-group a:hover,
            .sf__navbar-menu_container-group button:hover {
                background-color: rgba(255, 255, 255, 0.3);
                color: #FF4820;
                border: none;
            }

        .sf__navbar-menu_container-group .ui.dropdown {
            color: white;
        }

        .sf__navbar-menu_container-group p,
        .sf__navbar-menu_container-group button,
        .sf__navbar .ui.dropdown {
            margin: 0;
            padding: 5px 8px;
            width: 100%;
            box-sizing: border-box;
        }
}

@media screen and (max-width: 700px) {

    .sf__navbar {
        padding: 0.5rem 4rem;
    }

    .sf__navbar-sign p,
    .sf__navbar-sign button {
        margin-right: 10px;
    }

    .sf__navbar-menu_container-group p,
    .sf__navbar-menu_container-group button {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .sf__navbar-sign-container {
        display: none;
    }

    .sf__navbar-sign {
        display: none;
    }

    .sf__navbar-language-theme {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .sf__navbar {
        padding: 0.3rem;
    }

    .sf__navbar-sign-container {
        display: none;
    }

    .sf__navbar-sign {
        display: none;
    }

    .sf__navbar-language-theme {
        display: none;
    }

    .sf__navbar-menu_container {
        top: 20px;
        z-index: 1000;
    }
}

@media screen and (max-width: 350px) {

    .sf__navbar {
        padding: 0.3rem;
    }

    .sf__navbar-sign-container {
        display: none;
    }

    .sf__navbar-sign {
        display: none;
    }

    .sf__navbar-language-theme {
        display: none;
    }

    .sf__navbar-menu_container {
        top: 20px;
        z-index: 1000;
    }
}