.sf__navbar {
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.sf__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sf__navbar-links_logo {
  margin-right: 2rem;
}

.sf__navbar-links_logo img {
  width: 48px;
  height: 48px;
}

.sf__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.sf__navbar-sign-container {


        .sf__navbar-sign button:hover {
            background-color: #FF6140;
        }

.sf__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.sf__navbar-menu svg {
  cursor: pointer;
}

.sf__navbar-menu_container {


        .sf__navbar-menu_container-group a:hover,
        .sf__navbar-menu_container-group button:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: #FF4820;
            border: none;
        }

.sf__navbar-menu_container p {
  margin: 1rem 0;
}

.sf__navbar-menu_container-links-sign {
  display: none;
}

.sf__navbar-language {
  display: flex;
  align-items: center;
  color: white;
}

.sf__navbar-menu_container-links-language {
  margin-top: 10px;
}

.sf__navbar .ui.dropdown {
  color: white;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
  .sf__navbar-links_container {
    display: none;
  }


}

/* @media screen and (max-width: 700px) {
    .sf__navbar {
        padding: 2rem 4rem;
    }


@media screen and (max-width: 550px) {
  /* .sf__navbar {
        padding: 2rem;
    } */

  .sf__navbar-sign-container {
    display: none;
  }

  .sf__navbar-sign {
    display: none;
  }

  .sf__navbar-language {
    display: none;
  }


