html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.calendar_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: -10px;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.calendar-container {
    padding: 20px;
    margin-right: 20px;
}

    .calendar-container h1 {
        color: var(--heading-color);
        text-align: center;
    }

    .calendar-container p {
        font-size: 1.1rem;
        color: var(--text-color);
    }

.fc-col-header-cell {
    text-transform: capitalize;
}

:root {
    --background-color: #ffffff;
    --text-color: #0a3340;
    --heading-color: #4169e1;
}

.dark {
    --background-color: #0a3340;
    --text-color: #ffffff;
    --heading-color: #80b3ff;
}

.light {
    --background-color: #ffffff;
    --text-color: #0a3340;
    --heading-color: #4169e1;
}

.calendar_page.dark {
    background-color: var(--background-color);
    color: var(--text-color);
}

    .calendar_page.dark .calendar-container h1 {
        color: var(--heading-color);
    }

    .calendar_page.dark .calendar-container p {
        color: var(--text-color);
    }

.calendar_page.light {
    background-color: var(--background-color);
    color: var(--text-color);
}

    .calendar_page.light .calendar-container h1 {
        color: var(--heading-color);
    }

    .calendar_page.light .calendar-container p {
        color: var(--text-color);
    }